/* General Styles */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem; /* Base font size */
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 100%;
}
.container_404 {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}
/* Skip to Main */
.skip {
    position: relative;
}

.skip a {
    position: absolute;
    top: -4rem;
    padding: 0.5rem;
}

.skip a:focus {
    top: 2rem;
    background-color: white;
}

/*NAV MOBILE*/
.off-screen-menu {
    background-color: #00274c;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease;
}

.off-screen-menu.active {
    right: 0;
}
.mobile {
    padding: 1rem;
    display: flex;
    background-color: #00274c;
}
.desktop {
    display: none;
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #FFCB05;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1){
    top: 25%;
}

.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/*NAV STYLES*/
.off-screen-menu a {
    text-decoration: none;
    color: #FFCB05;
    font-size: 1.25rem;
    transition: text-decoration 0.3s;
    font-size: xx-large;
}
.off-screen-menu ul {
    list-style-type: none;
}

.off-screen-menu a:hover, nav a:focus {
    text-decoration: underline;
}

.off-screen-menu a.active {
    text-decoration: underline;
}

/* Header */
header {
    text-align: center;
}

header h1, header h2, header h3 {
    color: #00274c;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 2rem;
}

/* Main Content */
.container {
    margin-top: 2rem;
    padding: 0 2rem;
    width: 100%;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    padding: 0;
    width: 100%;
    margin-bottom: 2rem;
}

main ul {
    padding-left: 2rem;
    margin: 0;
}

/* Section and Paragraph Styling */
section, p {
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
    border-bottom: 3px solid #FFCB05;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: lighter;
    font-style: italic;
    padding-bottom: 0.5rem;
}

figcaption {
    font-size: 0.9rem;
    font-style: italic;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/*IMAGES*/
.images {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1rem;
    padding: 15px 15px;
}
main img, .images img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border: 5px solid #00274c; 
    padding: 5px; 
    background-color: #FFCB05; 
    border-radius: 8px;
    max-width: 100%;
    box-sizing: border-box;
}


/*FOOTER GENERAL STYLES*/
footer {
    background-color: #00274c;
    border-bottom: 13px solid #ffcb05;
    color: #FFCB05;
    padding: 1rem;
    text-align: center;
}

footer a {
    color: #FFCB05;
}

footer a:hover, footer a:focus {
    color: #fff;
}

/*FOOTER MOBILE*/
.foot_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

footer .logo {
    grid-column: 1;
    max-width: 170px;
    justify-self: center;
}

.resources {
    grid-column: 1;
    text-align: center;
}

.copyright_address {
    text-align: center;
    grid-column: 1;
}



/*media query for tablet and desktop*/
@media screen and (min-width: 800px) { 
/* styling for section and grid */
main img {
    max-width: 50%;
}
.images img {
    max-width: 75%;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    align-items: start;
}
.images figure {
    grid-column: 1;
    width: 100%;
}

.images figure img {
    width: 100%;
    height: auto;
}

.images article {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.foot_container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 2em;
}

footer .logo {
    grid-column: 1;
    max-width: 170px;
}

.resources {
    grid-column: 2;
}

.copyright_address {
    padding-top: 15px;
    grid-column: 3/4;
}

/* Navigation */
nav a {
    text-decoration: none;
    color: #FFCB05;
    font-size: 1.25rem;
    transition: text-decoration 0.3s;
}

nav a:hover, nav a:focus {
    text-decoration: underline;
}

nav a.active {
    text-decoration: underline;
}
.ham-menu {
    display: none;
}
.mobile {
    display: none;
}
.off-screen-menu {
    display: none;
}

.desktop {
    display: block;
    background-color: #00274c;
    padding: 0.5rem 0;
}

.desktop ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

/*navigation*/
.desktop ul li {
    margin: 0.5rem;
}

.desktop ul .logo {
    margin-right: auto;
    padding: 0.15rem;
}

.desktop ul .logo img {
    display: block;
    width: 75px;
    height: auto;}
}

